<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RPN Calculator</title>
</head>
<link rel="stylesheet" href="/css/app.css" />
<body>
	<h2>RPN Calculator!</h2>

	<div class="input">
		<form method="post" action="/enter">
			<div>
				<input type="number" step="any" name="value" required autofocus>
			</div>

			<br> <br>

			<div>
				<button id="button">Enter</button>
			</div>
		</form>

		<br> <br> {{#hasTwoOrMoreNumbers}}

		<table>
			<thead>
				<tr>
					<td>
						<form method="post" action="/add">
							<button id="button">+</button>
						</form>
					</td>
					<td>
						<form method="post" action="/subtract">
							<button id="button">-</button>
						</form>
					</td>
				<tr>
					<td>
						<form method="post" action="/multiply">
							<button id="button">*</button>
						</form>
					</td>
					<td>
						<form method="post" action="/divide">
							<button id="button">/</button>
						</form>
					</td>
					<td>
						<form method="post" action="/exponent">
							<button id="button">^</button>
						</form>
					</td>
				</tr>
			</thead>
		</table>

		<br> <br> {{/hasTwoOrMoreNumbers}} <br> <br>
		
		{{#hasOneOrMoreNumbers}}

		<table>
			<thead>
				<tr>
					<td>
						<form method="post" action="/abs">
							<button id="button">abs</button>
						</form>
					</td>			
				</tr>				
			</thead>
		</table>
		
		{{/hasOneOrMoreNumbers}}

		<br>
		<br> {{#hasUndoer}}

		<form method="post" action="/undo">
			<button id="button">Undo</button>
		</form>

		{{/hasUndoer}} <br>
		
		<br>
		<br> {{#hasRedoer}}

		<form method="post" action="/redo">
			<button id="button">Redo</button>
		</form>

		{{/hasRedoer}} <br>
		
		<br>
		<br>

		{{#hasOneOrMoreNumbers}}
		<form method="post" action="/clear">
			<button id="button">Clear</button>
		</form>
		{{/hasOneOrMoreNumbers}}

	</div>

	<div class="stack">
		Your Stack:
		<ul>
			{{#stack}}
			<li>{{ . }}</li> {{/stack}}
		</ul>
	</div>

</body>
</html>