<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RPN Calculator</title>
</head>
<link rel="stylesheet" href="/css/app.css" />
<body>
	<h2>RPN Calculator!</h2>

	<form method="post" action="/enter">
		<div>
			<input type="number" step="any" name="value" required>
		</div>
		<br>
		<br>
		<div>
			<button id="enter">Enter</button>
		</div>
	</form>
	<br>
	<br>
	<div>Your Stack:</div>
	<div>
		<ol>
			{{#stack}}
			<li>{{ . }}</li> {{/stack}}
		</ol>
	</div>
	<div>
		<button id="pop">Pop</button>
	</div>
	<br></br>
	<div>
		<button id="reset">Reset</button>
	</div>

</body>
</html>