<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RPN Calculator</title>
</head>
<link rel="stylesheet" href="/css/app.css" />
<body>
	<h2>RPN Calculator!</h2>

	<input type="number" name="firstNumber" required>

	<br>
	<br>
	
	<input type="number" name="secondNumber" required>
	<br>
	<br>

	<form method="post" action="/calculate">
		<input type="hidden">
		<button id="button">Calculate</button>
	</form>

	<br>
	<br>
	<form method="post" action="/reset">
		<input type="hidden">
		<button id="button">Reset</button>
	</form>


</body>
</html>